body {
	font-family: "Lato", sans-serif;
	background-color: #111111;
	color: #EEEEEE;
}

.canvas-holder {
	position: relative;
}

canvas {
	height: 75%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #EEEEEE;
}